* {
   box-sizing: border-box;

}
body {
    margin: 0;
    display: grid;
    background-color: rgb(57, 128, 185);
    align-items: center;
    justify-content: center;
    margin-top: 25%;

}

button {
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    border: none;
    box-sizing: border-box;
    block-size: 5vh;
    padding: 12 13;
    justify-content: center;
    border-radius: 2vw;
    font-size: 2vw;
    }
button:hover {
    cursor: pointer;
    background-color: black;
}
